<a href="https://colab.research.google.com/github/esther091/python-assignment/blob/main/Assignment_on_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a function called greet that takes a name as a parameter and returns "Hello,[name]!"

In [ ]:
def greet(name):
  print(f"Hello, {name}!")

In [ ]:
greet("Esther")

Hello, Esther!

2. Create a function calculate_area that takes length and width as parameters and returns the area of a rectangle.

In [ ]:
def calculate_area(length, width):
  area = length * width
  print (area)

In [ ]:
calculate_area(2,4)

8

3. Define a function is_even that takes a number and returns True if it's even, False
if it's odd.

In [ ]:
def is_even(number):
  if number % 2 == 0:
    print(True)
  else:
    print(False)

In [ ]:
is_even(5)

False

4. Write a function get_max that takes two numbers and returns the larger one.

In [ ]:
def get_max(num1,num2):
  if num1>num2:
     print(f"max: {num1}")
  elif num1<num2:
     print(f"max: {num2}")
  else:
     print("A number must be greater")

In [ ]:
get_max(20, -20)

max: 20

In [ ]:
get_max(220, 220)

A number must be greater

5. Create a function celsius_to_fahrenheit that converts Celsius to Fahrenheit
using the formula: F = (C Ã— 9/5) + 32

In [ ]:
def celsius_to_fahrenheit(celsius):
  fahrenheit = (celsius*9/5) + 32
  print(fahrenheit)

In [ ]:
celsius_to_fahrenheit(60)

140.0

6. Write a function introduce that takes a name and an optional age parameter
(default value 25). It should return "Hi, I'm [name] and I'm [age] years old."

In [ ]:
def introduce(name, age = 25):
    print(f"Hi, I'm {name} and I'm {age} years old.")

In [ ]:
introduce("Esther")

Hi, I'm Esther and I'm 25 years old.

In [ ]:
introduce("Esther", 20)

Hi, I'm Esther and I'm 20 years old.

7. Create a function calculate_discount that takes a price and discount
percentage (default 10%) and returns the discounted price.

In [ ]:
def calculate_discount(price,discount_percentage = 0.1):
    discount_price = price*discount_percentage
    print(discount_price)

In [ ]:
calculate_discount(300)

30.0

8. Define a function create_email that takes a first name, last name, and optional
domain (default "gmail.com") to create an email address.

In [ ]:
def create_email(first_name, last_name, domain_name = "gmail.com"):
    print(f" Email Address: {first_name}{last_name}@gmail.com")

In [ ]:
create_email("esther", "mgbedo")

 Email Address: esthermgbedo@gmail.com

9. Create a function count_vowels that takes a string and returns the number of
vowels in it

In [ ]:
def count_vowels(string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in string:
        if char in vowels:
           count += 1
    print(f"no of vowels: {count}")

In [ ]:
count_vowels("Esther")

no of vowels: 2

10. Define a function find_longest_word that takes a list of words and returns the
longest one.

In [ ]:
def find_longest_word(list_of_words):
    longest_word = ""
    for word in list_of_words:
        if len(word) > len(longest_word):
          longest_word = word
    print(f"longest word: {longest_word}")

In [ ]:
list_of_words = ["Esther", "Glory", "Chinemerem", "brouhaha", "Metamorphosis"]
find_longest_word(list_of_words)

longest word: Metamorphosis

11. Write a function grade_calculator that takes a score (0-100) and returns the
letter grade (A, B, C, D,E, F).

In [ ]:
def grade_calculator(score):
    if score > 100:
       print("Invalid Entry")
    elif score >= 70:
         print ("A")
    elif score >= 60:
         print("B")
    elif score >= 50:
         print("C")
    elif score >= 45:
         print("D")
    elif score >= 40:
         print ("E")
    elif score >= 0:
         print("F")
    else:
      print("Invalid Entry")

In [ ]:
grade_calculator(56)

C

12. Write a function file_extension that extracts the file extension from a filename,
handling cases where there might be no extension.

In [ ]:
def file_extension(filename):
    extension = filename.rsplit(".")
    if len(extension) > 1 and extension[1]:
       print(extension[1])
    else:
       print("No extension")

In [ ]:
file_extension("food.com")

com

In [ ]:
file_extension("smarthub.pdf")

pdf

In [ ]:
file_extension("eba and okra soup")

No extension

13. Write a function safe_get_item that tries to access a list item by index and returns
None if the index is out of bounds.

In [ ]:
def safe_get_item(items, index):
    if index>=0 and index < len(items):
       print(items[index])
    else:
       print("Out of Bound!")

In [ ]:
items= ["rice", "beans", "eba"]
safe_get_item(items, 2)

eba

In [ ]:
food= ["rice", "beans", "eba", "ewedu", "amala"]
safe_get_item(food, 6)

Out of Bound!

14. Create a function clean_data that takes a list of mixed data types and returns only
the numeric values as a new list.

In [ ]:
def clean_data(data_list):
    numeric_values =[]
    for item in data_list:
      if isinstance(item, (int, float)):
         numeric_values.append(item)
    print(numeric_values)

In [ ]:
my_list = ['rice', 1.0, 'data', 'Food',3.6, 5, 9, 'Essy']
new_data = clean_data(my_list)

[1.0, 3.6, 5, 9]

15. Write a function analyze_grades that takes a dictionary of student names and their
scores lists, returning statistics (average, highest, lowest) for each student.

In [5]:
def analyze_grades(student_grades):
    result ={}
    for students, scores in student_grades.items():
      if scores:
          average = sum(scores) / len(scores)
          highest = max(scores)
          lowest = min(scores)
          result= {'average': average, 'highest': highest, 'lowest': lowest}
      else:
          result = {'average': None, 'highest': None, 'lowest': None}

      print(result)

In [7]:
all_grades= {'Esther': [85, 90, 78], 'Clayton': [92, 88, 95],
           'Chemchris': [70, 65, 80], 'Charles': [] }
analyze_grades(all_grades)

{'average': 84.33333333333333, 'highest': 90, 'lowest': 78}
{'average': 91.66666666666667, 'highest': 95, 'lowest': 88}
{'average': 71.66666666666667, 'highest': 80, 'lowest': 65}
{'average': None, 'highest': None, 'lowest': None}