<a href="https://colab.research.google.com/github/esther091/python-assignment/blob/main/assignment_on_loops_and_collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(10, 0, -1):
  print(i)
else:
  print("Blast off!")

10
9
8
7
6
5
4
3
2
1
Blast off!

In [ ]:
for number in range(0,1001):
  if number % 7 == 0:
    print(number)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133
140
147
154
161
168
175
182
189
196
203
210
217
224
231
238
245
252
259
266
273
280
287
294
301
308
315
322
329
336
343
350
357
364
371
378
385
392
399
406
413
420
427
434
441
448
455
462
469
476
483
490
497
504
511
518
525
532
539
546
553
560
567
574
581
588
595
602
609
616
623
630
637
644
651
658
665
672
679
686
693
700
707
714
721
728
735
742
749
756
763
770
777
784
791
798
805
812
819
826
833
840
847
854
861
868
875
882
889
896
903
910
917
924
931
938
945
952
959
966
973
980
987
994

In [ ]:
numbers = [15, 2, 78, 34, 7, 99, 23]

largest = max(numbers)
smallest = min(numbers)

print("Largest number:", largest)
print("Smallest number:", smallest)

Largest number: 99
Smallest number: 2

In [ ]:
numbers = [15, 2, 78, 34, 4, 2, 15, 78, 7, 99, 23]
unique_numbers = []
for num in numbers:
    if num not in unique_numbers:
        unique_numbers.append(num)

print("Unique elements:", unique_numbers)

Unique elements: [15, 2, 78, 34, 4, 7, 99, 23]

In [7]:
numbers = [4, 2, 7, 4, 9, 4, 2, 4, 7, 2]

# Use a dictionary to count occurrences
count_dict = {}

for num in numbers:
    if num in count_dict:
        count_dict[num] += 1
    else:
        count_dict[num] = 1

# Find the most common element
most_common = max(count_dict, key=count_dict.get)
frequency = count_dict[most_common]

print("Most common element:", most_common)
print("It appears", frequency, "times.")

Most common element: 4
It appears 4 times.

In [9]:
sentence = input("Enter a sentence: ")

vowels = "aeiouAEIOU"
vowel_count = 0
consonant_count = 0

for char in sentence:
    if char.isalpha():  # Checks if the character is a letter
        if char in vowels:
            vowel_count += 1
        else:
            consonant_count += 1

print("Number of vowels:", vowel_count)
print("Number of consonants:", consonant_count)

Enter a sentence: esther is  happy
Number of vowels: 4
Number of consonants: 9

In [11]:
sentence = input("Enter a sentence: ")

words = sentence.split()  # Split sentence into a list of words
longest_word = ""

for word in words:
    if len(word) > len(longest_word):
        longest_word = word

print("The longest word is:", longest_word)
print("Length:", len(longest_word))

Enter a sentence: i miss my friend
The longest word is: friend
Length: 6

In [12]:
sentence = input("Enter a sentence: ")

no_spaces = sentence.replace(" ", "")

print("Sentence without spaces:", no_spaces)

Enter a sentence: i might go home
Sentence without spaces: imightgohome

In [13]:
total = 0
count = 0

while total <= 100:
    number = float(input("Enter a number: "))
    total += number
    count += 1

print("Total exceeded 100!")
print("Total sum:", total)
print("Numbers entered:", count)

Enter a number: 55
Enter a number: 45
Enter a number: 44
Total exceeded 100!
Total sum: 144.0
Numbers entered: 3

In [14]:
password = ""

while password != "secret123":
    password = input("Enter the password: ")

print("Access granted!")

Enter the password: essy55
Enter the password: ghiiii
Enter the password: secet
Enter the password: secret123
Access granted!

In [15]:
for number in range(1, 51):
    if number % 2 == 0:
        print(number)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [17]:
count = int(input("Enter how many Fibonacci numbers to print: "))

a, b = 0, 1  # Starting values
fibonacci_sequence = []

for _ in range(count):
    fibonacci_sequence.append(a)
    a, b = b, a + b  # Update values

print("Fibonacci sequence:")
print(fibonacci_sequence)

Enter how many Fibonacci numbers to print: 10
Fibonacci sequence:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [18]:
num = int(input("Enter a number: "))

print(f"Multiplication table of {num}:")

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 5
Multiplication table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [20]:
numbers = []

while True:
    num = float(input("Enter a number: "))
    if num < 0:
        break
    numbers.append(num)

print("Numbers entered:", numbers)

Enter a number: 44
Enter a number: 66
Enter a number: 90
Enter a number: 77
Enter a number: -55
Numbers entered: [44.0, 66.0, 90.0, 77.0]

In [22]:
numbers = []

while True:
    num = float(input("Enter a number: "))
    if num == 0:
        break
    numbers.append(num)

print("You entered:", numbers)

Enter a number: 44
Enter a number: 9
Enter a number: 8
Enter a number: 7
Enter a number: -5
Enter a number: 0
You entered: [44.0, 9.0, 8.0, 7.0, -5.0]

In [24]:
num = int(input("Enter a number: "))

power = 1  # Start with 2^0 = 1

while power <= num:
    power *= 2  # Keep multiplying by 2

print("The smallest power of 2 greater than", num, "is:", power)

Enter a number: 3
The smallest power of 2 greater than 3 is: 4